@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: 'Quintessential';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.366rem; /* 53.92px */}

h2 {font-size: 2.525rem; /* 40.32px */}

h3 {font-size: 1.894rem; /* 30.24px */}

h4 {font-size: 1.421rem; /* 22.72px */}

h5 {font-size: 1.066rem; /* 17.12px */}

small {font-size: 0.600rem; /* 9.6px */}

#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  padding: 0px 16px;
}

.title-text {
  justify-self: center;
}

.title-text>h1,h4 {
  font-family: "Finger Paint", sans-serif;
}

.theme {
  position: relative;
  align-self: center;
}

.settings {
  display: flex;
}

.icon {
  width: 32px;
  height: auto;
}

.dark {
  position: absolute;
  top: 0;
  rotate: 330deg;
}

.gameboard {
  width: max(500px, 75vmin);
  height: max(500px, 70vmin);
  border: 1px solid black;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 8px;
  padding: 8px;
}

.game-info {
  width: max(500px, 75vmin);
  height: 175px;
  border: 1px solid black;
  align-self: center;
  margin-bottom: 16px;
}

.board-item {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.board-icon {
  width: 125px;
}

.x {
  filter: invert(12%) sepia(98%) saturate(5285%) hue-rotate(248deg) brightness(81%) contrast(100%);
}

.o {
  filter: invert(19%) sepia(85%) saturate(2429%) hue-rotate(344deg) brightness(101%) contrast(96%);
}

.game-info {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0px 16px;
  justify-items: center;
  position: relative;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.player-name>h4 {
  font-family: "Finger Paint", sans-serif;
  display: flex;
}

.player-name>h5{
  font-weight: 400;
  font-family: "Finger Paint", sans-serif;
}

.player-name-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.player-one-symbol, .player-two-symbol
{
  width:1.421rem;
  height: auto;
}

.player-one-score, .player-two-score {
  font-size: 4rem;
  font-family: "Finger Paint", sans-serif;
}

.game-start {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.game-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.game-options {
  display: flex;
  justify-items: center;
}

.icon-choice {
  width: 48px;
  height: auto;
  border: 1px solid black;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 1px solid green;
}
.game-settings>button {
  border: 1px solid black;
  background: none;
  padding: 8px;
  font-family: "Finger Paint", sans-serif;
}
.game-settings>h5 {
  font-family: "Finger Paint", sans-serif;
}
select {
  border: none;
  background: none;
  font-family: "Finger Paint", sans-serif;
}

select::picker-icon {
  appearance: none;
}